
*, *::before, *::after {
  box-sizing: border-box;
}

html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', 'Tahoma', sans-serif;

}

body {
    display: flex;
    background-color: rgb(41, 1, 44);
    width: 100%;
    color: rgb(0, 53, 102);
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header {
    justify-content: center;
    background-color: rgb(191, 250, 103);
    border: 2rem solid rgb(156, 2, 20);
    width: 98%;
    padding: 0 ;
    border-radius: 2.5rem;
    display: block;
    margin: 0.5rem;
    flex-direction: row;

}

h1, h4 {
    margin-top: 0;
    margin-left: 5.5%;
}
 h1 {
    font-size: 2rem;
 }

 h4 {
    font-size: 1.2rem;
    margin-bottom: 0;
 }

 #mainMenu {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;  
    margin-bottom: 1rem;
    padding: 0.3rem;
}
#mainMenu a {
    text-decoration: none;
    color: rgb(0, 53, 102);
    font-weight: bold;
    margin: 0 2.5% 0.8rem 2.55%;
    align-items: space-between  ;
    background-color: lightgreen;
    padding: 0.3rem 1.5rem;
    border-radius: 1.5rem;
    border: 0.5rem solid rgb(194, 21, 41);
    box-shadow: #f83838 0 0.2rem 0.3rem 0.4rem;
}

#gesturesImgBox {
    display: flex;
    justify-content: center;
    align-items: center;
}


#gesturesImg {
width: 55%;
min-width: 215px;
height: auto;
}

#historySection {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;  
    background-color: rgba(255, 86, 182, 0.5);
    border-radius: 3rem;
    color: rgb(0, 53, 102);    
    margin: 3rem ;
    padding: 1rem;

}


.block-text {
  display: block; 
  width: content;
  text-align: justify;    
  margin: 0.8rem;
  padding: 3rem;           
  line-height: 1.6;         
  background-color: #f9f9f9; 
  border-radius: 1.5rem;       
}



.opponent-button {
    background-color: lightblue;
    border: 0.3rem solid rgb(156, 2, 20);
    border-radius: 50%;
    padding: 0.5rem;
    margin: 0.5rem;
    cursor: pointer;
}

.opponent-button img {
    width: 100%;
    height: auto;
    border-radius: 50%;
}   

.scoreboard {
 display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 1rem;
}

#reset-btn {
  background:crimson ;
  border: 0.2rem solid tomato;
  padding: 0.5rem 1rem;
  color: white;
  cursor: pointer;
  border-radius: 0.8rem;
  font-weight: 800;
}