
*, *::before, *::after {
  box-sizing: border-box;
}

html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', 'Tahoma', sans-serif;
    scroll-behavior: smooth;
}

/* Fallback for emojis on Firefox and apple devices */
.moveButton, table {
  font-family:  'Apple Color Emoji', 'Segoe UI Emoji', 'Noto Color Emoji', sans-serif;
}

body {
    display: flex;
    overflow: auto;
    background-color: rgb(139, 1, 82);
    width: 100%;  
    color: rgb(0, 53, 102);
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header {
    justify-content: center;
    background-color:#102100;
    background: linear-gradient(180deg,rgb(8, 19, 0) 0%, rgb(25, 37, 5) 75%, rgba(70, 97, 27, 1) 100%);
    color: rgb(183, 0, 21);
    border: 0.9rem solid rgb(183, 0, 21);
    box-shadow: #ff4848 0 0.1rem 0.3rem 0.2rem,inset 0 0.1rem 0.8rem rgba(255, 255, 55, 0.9);
    width: 98%;
    padding: 0 ;
    border-radius: 2.5rem;
    display: block;
    margin: 0.5rem;
    flex-direction: row;

}

 h1 {
    font-size: 1.5rem;
 }

 h2 {
    font-size: 1.2rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    text-align: center;
 }
 h3 {
    font-size: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    text-align: center;
 }

 h4 {
    font-size: 0.8rem;
    margin-bottom: 0.2%;
    text-align: center;
 }

#welcome {
    margin-top: 0;
    margin-left: 15%;
    text-align: start;
    color: rgb(193, 255, 193);
  }

  #gameDivision {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 100%;
    background-color: rgb(193, 255, 193);
    box-shadow: #38cbf8 0 0.1rem 0.4rem 0.3rem;
    border-radius: 1.5rem;
    padding: 0.5rem;
    margin: 1rem 2.5%
}

  #logoDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem 50% 0.8rem 50%;
  min-width: 11%;
}

  #logoDiv img {
    width: 100%;
    border-radius: 50%;
    border: 13% solid #fd2b55;
    box-shadow: #fd2b55 0 0 0.8rem 1rem, inset 0 0 1rem #ff214d;
    margin-bottom: 0; 
  }

  #gameName {
    font-size: x-large;
    width: fit-content;
    color: #e3fdf7;
    background-color:#ff214d ;
    box-shadow: #ff214d 0 0.1rem 0.9rem 0.7rem;
    border-radius: 35%;
}
 
#mainMenu {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;  
    margin-bottom: 1rem;
    padding: 0.3rem;
}

#mainMenu a {
    text-decoration: none;
    color: rgb(0, 53, 102);
    font-weight: bold;
    margin: 0 2.5% 0.8rem 2.55%;
    justify-content: space-between  ;
    background-color: rgb(193, 255, 193);
    padding: 0.3rem 1.5rem;
    border-radius: 1.5rem;
    border: 0.5rem solid rgb(194, 21, 41);
    box-shadow: #ff1515 0 0.15rem 0.2rem 0.3rem;
}

#mainMenu a:hover {
    background-color: rgb(222, 12, 131);
    color: rgb(255, 255, 255);
    box-shadow: #feac15 0 0.2rem 0.3rem 0.5rem;    
    transition: 0.15s;
}

#mainMenu a:active {
    background-color: rgb(255, 14, 78);
    border: 0.5rem solid rgb(255, 121, 4);
    box-shadow: #ff0000 0 0.1rem 0.3rem 0.5rem;
    color:rgb(255, 255, 255);
    transition: 0.1s;
}

/* Set of rules for the texts in "Home" and "History" */
.blockText {
  display: block; 
  width: 98%;
  height: auto ;
  overflow:auto;
  text-align: justify;    
  margin: 0.8rem;
  padding: 3%;     
  border-radius: 3rem 1.5rem 1.5rem 3rem;    
  line-height: 1.6;         
  background-color: #f9f9f9; 
  box-shadow: #f83838 0 0.1rem 0.3rem 0.2rem, inset 0 0.2rem 0.8rem rgba(252, 252, 155, 0.9);       
  max-height: 450px;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.blockText::-webkit-scrollbar {
  width: 15px;
}

.blockText::-webkit-scrollbar-thumb {
  background-color: rgba(30, 127, 30, 0.5);
  border-radius: 10px;
  box-shadow: inset 0 0.1rem 0.4rem rgba(47, 47, 1, 0.5);
}

/* "Description" in "Home" */
#descriptionSection {
    display: flex;
    flex-direction: column;
    width: 95%;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: rgba(21, 197, 255, 0.5);
    border-radius: 3rem   1.5rem 1.5rem 3rem;
    color: rgb(0, 53, 102);    
    margin: 1rem 1.5rem 1rem 1.5rem;
    padding: 0.6rem 0.6rem 0.6rem 0.6rem ;
}


/* table @ "index.html" */
#tableContainer{
    display: flex;
    overflow: auto;
    flex: auto;
}

.rulesTable {
    width: 100%;
    border-radius: 0.5rem;
    margin: 1rem 0;
    border: none;
    width: 100%; 
    text-align: center;
}   

th {
    color: rgb(0, 53, 102);
    border-radius: 0.5rem;
    border:rgb(255, 38, 0) 0.1rem solid;
    box-shadow: #fdb8b8 0 0.1rem 0.3rem 0.2rem;
    padding: 0.2rem;
    background-color: rgb(254, 207, 199);
}

 td{
    border-radius: 0.5rem;
    padding: 0.2rem;
    border:tomato 0.1rem solid;
    background-color: rgb(253, 225, 220);
    box-shadow: #ffd7d7 0 0.1rem 0.3rem 0.2rem;
    padding: 0.2rem;
}

#historySection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    width: 95%;
    height: 100%;
    background-color: rgba(255, 86, 182, 0.5);
    border-radius: 3.5rem 0.8rem 0.8rem 3.5rem;
    color: rgb(0, 53, 102);    
    margin: 1rem ;
    padding: 0.5rem 1rem;
}

#historyTextBox {
    border-radius: 2.5rem 2% 2% 2%;
} 

.variationsSection {
    display: block;
    background-color: #f9f9f9; 
    border-radius: 2% 2% 2%2.5rem;
}

/* image pplaced after the "Variations" paragraph in the History section */
#gesturesImgBox {
    display: flex;
    justify-content: center;
    align-items: center;
}

#gesturesImg {
    width: 55%;
    min-width: 215px;
    height: auto;
}

/* game.html */
#gameSection {
  display: flex;
  flex-grow: 1;
  width: 96%;
  height: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(193, 255, 193);
  border: 0.5rem solid rgb(131, 53, 175);
  box-shadow: #38cbf8 0 0.1rem 0.3rem 0.3rem;
  border-radius: 3rem;
  color: rgb(0, 53, 102);
  margin: 1.5rem;
  padding: 1rem;
}

/* Outer container for title and Opponent'sBtn container */
#selectOpponent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 1rem;
    width: 100%;
    color: rgb(255, 255, 255);
    height: auto;
    margin-bottom: 0;
    border: 0.2rem solid rgba(255, 86, 182, 0.5);
    border-radius: 1.5rem 1.5rem 0.5rem 0.5rem ;
    background-color: #033564;
    box-shadow: inset 0 0.1rem 2rem rgba(255, 255, 55, 0.6)
}

/* Container just for the Opponent's Buttons + sound Toggle*/
#choicesOpponent {
    display: flex;
    justify-content: space-around;
    width: 90%;
    height: auto;
    gap: 1rem;
    flex-wrap: wrap;
    margin: 0 1rem 0 1rem;
}

.opponentButton {

    background-color: rgb(31, 53, 109);
    border: 0.5rem solid rgb(103, 215, 243);
    box-shadow: #f9f9f9 0 0.1rem 0.3rem 0.2rem;
    border-radius: 50%;
    padding: 0.2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    min-width: 90px;
    cursor: pointer;
    width: 10%;
}

.opponentButton img {
    width: 100%;
    border-radius: 50%;
}   

button.opponentButton:hover {
    background-color: rgb(174, 255, 0);
    border: 0.5rem solid #6bd5ff;
    box-shadow: #f9f9f9 0 0.1rem 0.3rem 0.5rem  ;
    transition: 0.1s;
}

button.opponentButton:active {
    background-color: rgb(242, 234, 0);
    border: 0.7rem solid rgb(255, 121, 4);
    box-shadow: #ff0000 0 0.1rem 0.5rem 0.2rem;
    transition: 0.1s;
}

#toggle-sound {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5%;
  min-width: 75px;
  height: 20%;
  font-weight: 900;
  margin-top: 1.5rem;
  margin-right: 2%;
  padding: 0.5rem;
  color: rgb(214, 247, 255);
  background-color: #005964;
  border: 0.35rem solid rgb(255, 182, 223);
  border-radius: 50%;
  
}

/* Scores, Selected Opponent and Reset Button */
.resetboard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1rem;
  align-items: flex-end;
  width: 100%;
  padding: 0.6rem 0.5rem 0.3rem 0;
  border: 0.2rem solid rgba(255, 86, 182, 0.5);
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  box-shadow: inset 0 0.1rem 2rem rgba(240, 253, 255, 0.9);
  background-color: #8dffe2;
  border-radius: 0.5rem;
}


#resetBtn {
  background:crimson ;
  border: 0.3rem solid rgb(55, 1, 97);
  padding: 0.5rem 1rem;
  color: white;
  cursor: pointer;
  margin-top: auto;
  margin-bottom: 0.5rem;
  border-radius: 1.5rem;
  font-weight: 800;
  box-shadow: #f83838 0 0.1rem 0.3rem 0.2rem;
}

#resetBtn:hover {
  background: rgb(255, 123, 100);
  color: #3f0047;
  box-shadow: #a5f838 0 0.1rem 0.3rem 0.5rem;
  transition: 0.1s;
}

#resetBtn:active {
  background-color: rgb(242, 234, 0);
  border: 0.3rem solid rgb(255, 121, 4);
  box-shadow: #ff0000 0 0.1rem 0.3rem 0.2rem;
  color:crimson;
  transition: 0.1s;
}


/*  Container "Make your Move" */
#movesBtnsbox {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  margin: 0 0.3%;
  background-color: rgb(255, 205, 162);
  border: 0.2rem solid rgba(255, 86, 182, 0.5);
  border-radius: 0.5rem 0.5rem 1.6rem 1.6rem;
  width: 100%;
  height: 5%;
  box-shadow: inset 0 0.2rem 2rem rgba(254, 239, 225, 0.9);
}   

.choices {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 95%;
  height: auto;
  margin: 0;
}

.moveButton {
  background-color: rgb(0, 40, 53);
  border: 0.35rem solid rgb(254, 38, 63);
  border-radius: 50%;
  padding: 0.3rem;
  width: auto;
  margin: 1% 2.8% 2% 2.8%;
  cursor: pointer;
  font-size: 2.5rem;
  font-weight: 800;
  box-shadow: #ffffff 0 0.2rem 0.7rem 0.5rem, inset#a4ff2e 0 0.2rem 0.7rem;    
}

.moveButton:hover {
  background-color: rgb(255, 38, 0);
  font-weight: 800;
  border: 0.35rem solid #007910;
  border-radius: 50%;
  padding: 0.35rem;
  box-shadow: #459500 0 0.2rem 0.7rem 0.5rem;
  transition: 0.1s;
}

/*  Container for the Pictures of the chosen moves */
.moveButton:active {
  background: rgb(226, 6, 98);
  box-shadow: #a5f838 0 0.1rem 0.7rem 0.5rem;
  transition: 0.1s ease;
}

/* Container for the Result message */
#result {
  display: flex;
  flex-basis: 50%;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0.3rem;
  background-color: #c7fff1;
  border-radius: 0.5rem;
  text-align: center;
  color:rgb(100, 0, 125);
  font-weight: bold;
  font-size: 1rem;
 }

#yourScoreBox {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(0, 53, 102);
  background-color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 0.8rem;
  border: #5cc400 0.2rem solid;
  margin-bottom: 1rem;
  margin-top: auto;
  border-radius: 1.5rem;
  padding: 0.1rem 0.5rem;
}

#opponentScoreBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin:0;
  padding:0;
}

#opponentAvatar{
  margin-top: 5%;
  margin-bottom:0;
  width:75%;
  padding: 0;
}

#computerScoreBox{
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(0, 53, 102);
  background-color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 0.8rem;
  border: rgb(141, 236, 236) 0.2rem solid;
  border-radius: 1.5rem;
  padding:  0.1rem 0.3rem;
  margin-bottom: 1rem;
  margin-top: 0;
}
.selections {
  display: flex;
  align-items: stretch;
  width: 100%;
  justify-content: space-around;
  padding: 0.5%;
  background-color: rgba(255, 86, 182, 0.5);
  border-radius: 0.5rem 0.5rem 1.5rem 1.5rem;
}

.playerSelection,
.computerSelection {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 2% 2.5%;

  background-color: rgb(0, 53, 102);
  border-radius: 0.5rem 0.5rem 1.5rem 1.5rem;;
  min-width: 6.65rem;
  width: 45.5%; 
  max-width: 44rem;
}

.playerSelection{
  margin-left: 3%;
  margin-right: 1.5%;;
}
.computerSelection {
  margin-left: 1.5%;
  margin-right: 3%;
}

.playerSelection img, .computerSelection img {
  width:98%;
  border-radius: 50%;
  height: auto;
  margin-bottom: 2%;
}

/* Footer and divisions inside of it below */
footer {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  align-items: center;
  width: 95%;
  height: auto;
  padding: 2rem ;
  background-color: #102100;
  border: 0.8rem solid rgb(156, 2, 20);
  box-shadow: #ff4848 0 0.1rem 0.3rem 0.2rem, inset 0 0.1rem 0.8rem rgba(255, 255, 55, 0.9);
  border-radius: 2.5rem;
  margin: 1rem 1.5rem 2% 1.5rem;
}

#legalInfo, #contactInfo {
  max-width: 45%;
  min-width: 10rem;
  margin: 1%;
  align-items: center;
  height:4rem;
  display: block;
  text-wrap: wrap;
  justify-content: space-around;;
  color: rgb(193, 255, 193);
  font-size: 1rem;
  overflow-y: auto;
  scroll-behavior: smooth;
}

#legalInfo h2, #contactInfo h2 {
  display: flex;
  font-size: 1rem;
  font-weight: 900;
  margin-left: 0;
  align-items: flex-start;
}

#legalInfo {
  margin: 1rem 2% 1rem 2%;
  background-color: rgb(33, 56, 0);
  padding: 2%;
  border-radius: 0.5rem;
  box-shadow: #f9f9f9 0 0.1rem 0.3rem 0.2rem, inset 0 0.1rem 0.8rem rgba(252, 252, 155, 0.9)  ;
}

#contactInfo {
  margin: 1rem 2% 1rem 2%;
 
  background-color: rgb(33, 56, 0);
  padding: 2%;
  border-radius: 0.5rem;
  box-shadow: #f9f9f9 0 0.1rem 0.3rem 0.2rem, inset 0 0.1rem 0.8rem rgba(252, 252, 155, 0.9)  ;
}

#legalInfoLink {
  color: rgb(193, 255, 193);
  font-weight: 900;
}

#mailtoLink {
  color: rgb(193, 255, 193);
  font-weight: 900;
}

/* This Scrollbar properties Work in Chrome, Safari, Edge (not Firefox) */
footer p::-webkit-scrollbar {
  width: 15px;
}
footer p::-webkit-scrollbar-thumb {
  background-color: rgba(252, 0, 231, 1);
  border-radius: 10px;
  box-shadow: inset 0 0.1rem 0.4rem rgba(255, 255, 223, 0.9);
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(110, 187, 184, 0.9) transparent;
}


