
*, *::before, *::after {
  box-sizing: border-box;
}

html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', 'Tahoma', sans-serif;

}

body {
    display: flex;
    overflow: auto;
    background-color: rgb(139, 1, 82);
    width: 100%;  
    color: rgb(0, 53, 102);
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header {
    justify-content: center;
    background-color: rgb(198, 252, 50);
    border: 0.9rem solid rgb(183, 0, 21);
    width: 98%;
    padding: 0 ;
    border-radius: 2.5rem;
    display: block;
    margin: 0.5rem;
    flex-direction: row;

}

#gameName {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgb(193, 255, 193);
    border-radius: 1.5rem;
    padding: 0.5rem;
}

h4 {
    margin-top: 0;
    margin-left: 35%;
}
 h1 {
    font-size: 2rem;
 }

 h4 {
    font-size: 1.2rem;
    margin-bottom: 0;

 }

 #mainMenu {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;  
    margin-bottom: 1rem;
    padding: 0.3rem;
}

#mainMenu a {
    text-decoration: none;
    color: rgb(0, 53, 102);
    font-weight: bold;
    margin: 0 2.5% 0.8rem 2.55%;
    align-items: space-between  ;
    background-color: rgb(193, 255, 193);
    padding: 0.3rem 1.5rem;
    border-radius: 1.5rem;
    border: 0.5rem solid rgb(194, 21, 41);
    box-shadow: #ff1515 0 0.3rem 0.2rem 0.3rem;
}

#mainMenu a:hover {
    background-color: rgb(222, 12, 131);
    color: rgb(255, 255, 255);
    box-shadow: #feac15 0 0.2rem 0.3rem 0.5rem;    
    transition: 0.15s;
}

#mainMenu a:active {
    background-color: rgb(255, 14, 78);
    border: 0.5rem solid rgb(255, 121, 4);
    box-shadow: #ff0000 0 0.1rem 0.3rem 0.5rem;
    color:rgb(255, 255, 255);
    transition: 0.1s;
}

#gesturesImgBox {
    display: flex;
    justify-content: center;
    align-items: center;
}

#gesturesImg {
width: 55%;
min-width: 215px;
height: auto;;
}

#historySection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
    height: 100%;
    background-color: rgba(255, 86, 182, 0.5);
    border-radius: 3rem;
    color: rgb(0, 53, 102);    
    margin: 3rem ;
    padding: 1rem;

}

#descriptionSection {
    display: flex;
    flex-direction: column;
    width: 98%;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: rgba(21, 197, 255, 0.5);
    border-radius: 3rem;
    color: rgb(0, 53, 102);    
    margin: 3rem ;
    padding: 1rem;
}

.block-text {
  display: block; 
  width: 98%;
  overflow:auto;
  text-align: justify;    
  margin: 0.8rem;
  padding: 3rem;           
  line-height: 1.6;         
  background-color: #f9f9f9; 
  border-radius: 1.5rem;       
}

#tablecontainer{
    display: flex;
    overflow: auto  ;
}

table {
    width: 100%;
    border-radius: 0.5rem;
    margin: 1rem 0;
    border: none;
}   

th {
    color: rgb(0, 53, 102);
    border-radius: 0.5rem;
    border:rgb(255, 38, 0) 0.1rem solid;
    box-shadow: #fdb8b8 0 0.1rem 0.3rem 0.2rem;
    padding: 0.2rem;
    background-color: rgb(254, 207, 199);
}

 td{
    border-radius: 0.5rem;
    padding: 0.2rem;
    border:tomato 0.1rem solid;
    background-color: rgb(253, 225, 220);
    box-shadow: #ffd7d7 0 0.1rem 0.3rem 0.2rem;
    padding: 0.2rem;
}

#choicesOpponent {
    display: flex;
    justify-content: center;
    gap: 3%;
    width: 100%;
    flex-wrap: wrap;
    margin-bottom: 0.5rem;
}

.opponent-button {
    background-color: rgb(35, 59, 121);
    border: 0.5rem solid rgb(141, 173, 236);
    border-radius: 50%;
    padding: 0.2rem;
    width: 10%;
    margin: 0.3%;
    cursor: pointer;
    width: 100px;
}

.opponent-button img {
    width: 98%;
    height: auto;
    border-radius: 50%;
}   

button.opponent-button:hover {
    background-color: rgb(174, 255, 0);
    border: 0.5rem solid #6bd5ff;
    box-shadow: #f9f9f9 0 0.1rem 0.3rem 0.5rem  ;
    transition: 0.1s;
}

button.opponent-button:active {
    background-color: rgb(242, 234, 0);
    border: 0.7rem solid rgb(255, 121, 4);
    box-shadow: #ff0000 0 0.1rem 0.5rem 0.2rem;
    transition: 0.1s;
}

#gameSection {
  display: flex;
  flex-grow: 1;
  width: 96%;
  height: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(193, 255, 193);
  border: 0.5rem solid rgb(131, 53, 175);
  border-radius: 3rem;
  color: rgb(0, 53, 102);
  margin: 1.5rem;
  padding: 1rem;
}

#selectOpponent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 1rem;
    width: 100%;
    height: auto;
    margin-bottom: 0.8rem;
    border: 0.2rem solid rgba(255, 86, 182, 0.5);
    border-radius: 1.5rem 1.5rem 0.5rem 0.5rem ;
    background-color: #8dffe2;  
}

.sound-toggle {
  display: flex;
  justify-content: end;
  align-items: flex-end;
  width: 96%;
  height: auto;
  margin-top: 0;
  margin-right: 12.5%;
  padding: 0.5rem;
  color: rgb(251, 232, 232);
  background-color: #8dffe2;
  border-radius: 1.5rem;

}

#toggle-sound {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: auto;
  font-weight: 900;
  margin-top: 0.5rem;
  padding: 0.5rem;
  color: rgb(251, 232, 232);
  background-color: #106859;
  border-radius: 1.5rem;
  text-align: center;
}

.scoreboard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1rem;
  align-items: bottom;
  width: 100%;
  padding: 0.9rem 0.5rem 1.4rem 0.5rem;
  border: 0.2rem solid rgba(255, 86, 182, 0.5);
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
  background-color: #8dffe2;
  border-radius: 0.5rem;
}

#yourScoreBox {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(0, 53, 102);
  background-color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 1.5rem;
  border: #5cc400 0.2rem solid;
  margin-bottom: 0;
  margin-top: auto;
  border-radius: 1.5rem;
  padding: 0.1rem 0.5rem;
}

#OpponentScoreBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

#computerScoreBox{
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(0, 53, 102);
  background-color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 1.5rem;
  border: rgb(141, 173, 236) 0.2rem solid;
  border-radius: 1.5rem;
  padding: 0.1rem 0.5rem;
  margin-bottom: 0;
  margin-top: 0;
}

#scoreboard img {
  width: 2.5rem;
  height: auto;
}

#reset-btn {
  background:crimson ;
  border: 0.3rem solid rgb(55, 1, 97);
  padding: 0.5rem 1rem;
  color: white;
  cursor: pointer;
  margin-top: auto;
  border-radius: 1.5rem;
  font-weight: 800;
  box-shadow: #f83838 0 0.1rem 0.3rem 0.2rem;
}
#reset-btn:hover {
  background: rgb(255, 123, 100);
  color: #3f0047;
  box-shadow: #a5f838 0 0.1rem 0.3rem 0.5rem;
  transition: 0.1s;
}

#reset-btn:active {
  background-color: rgb(242, 234, 0);
  border: 0.3rem solid rgb(255, 121, 4);
  box-shadow: #ff0000 0 0.1rem 0.3rem 0.2rem;
  color:crimson;
  transition: 0.1s;
}

#result {
  display: flex;
  flex-basis: 50%;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  margin-top: 1rem;
  padding: 0.5rem;
  background-color: #c7fff1;
  border-radius: 0.5rem;
  text-align: center;
  color:rgb(100, 0, 125);
  font-weight: bold;
  font-size: 0.8rem;
 }

#movesBtnsbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1%;
  margin: 0.3%;
  background-color: rgb(255, 205, 162);
  border: 0.2rem solid rgba(255, 86, 182, 0.5);
  border-radius: 0.5rem 0.5rem 1.6rem 1.6rem;
  width: 100%;
  height: 100%;
}   

.choices {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 95%;
  margin: 0;
}

.move-button {
  background-color: rgb(0, 40, 53);
  color: rgb(204, 239, 251);
  border: 0.35rem solid rgb(254, 38, 63);
  border-radius: 1.5rem;
  padding: 0.3rem;
  margin: 3%;
  cursor: pointer;
  font-size: 2rem;
  font-weight: bold;
  box-shadow: #ffffff 0 0.2rem 0.7rem 0.5rem;    
}

.move-button:hover {
  background-color: rgb(255, 38, 0);
  color: rgb(0, 40, 53);
  font-weight: 800;
  border: 0.3rem solid #007910;
  box-shadow: #85ff19 0 0.1rem 0.4rem 0.5rem;
  transition: 0.1s;
}

.move-button:active {
  background: rgb(226, 13, 6);
  color:rgb(190, 255, 243) ;
  box-shadow: #a5f838 0 0.1rem 0.1rem 0.5rem;
  transition: 0.5sec smooth;
}

.selections {
  display: flex;
  width: 100%;
  justify-content: space-between;
  color: rgb(193, 255, 193);
  align-items: center;
  margin-top: 1%;
  padding: 1%;
  background-color: rgba(255, 86, 182, 0.5);
  border-radius: 0.5rem 0.5rem 1.5rem 1.5rem;
}

.player-selection, .computer-selection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between ;
  width: 49% ;
  background-color: rgb(0, 53, 102);
  border-radius: 1.5rem;
  padding: 0.5rem;
  padding-bottom: 3rem;
}

.player-selection img, .computer-selection img {
  width: 95%;
  height: auto;
  border-radius: 50%;

}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  padding: 5rem;
  background-color: rgb(33, 56, 0);
  border: 0.8rem solid rgb(156, 2, 20);
  border-radius: 3rem;
  margin-bottom: 1rem;
}
